[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-countries = "*"
drf-yasg = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
django-filter = "*"
celery = "*"
redis = "*"
boto3 = "*"
django-storages = "*"
pika = "*"

[dev-packages]

[requires]
python_version = "3.10"
